#me {
    width: 100%;
    height: auto;
    color: $blue10;
    margin-bottom: 4rem;
    
    h1 {
        margin-bottom: 2rem;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    a {
        text-decoration: underline;
        color: $blue10;
    }
}

.about_name {
    position: relative;
    width: 100%;
    height: auto;
}

.about_content {
    position: relative;
    width: 100%;
    height: auto;
}

.twocolgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    img {
        width: 100%;
        height: auto;
    }
}

// mobile sizes
@media only screen and (max-width: 43em) {
    .twocolgrid {
        grid-template-columns: 1fr;
        .col2 {
            margin-top: 2rem;
            .about_name {
                margin-top: 2rem;
            }
        }
    }
}

.highlight {
    background: linear-gradient(to right, rgba(255,255,255,1.0) 50%, $blue85 50%);
    background-size: 200%;
    background-position: 0 0;
    display: inline;
    transition: .3s ease-in-out;
    z-index: -1;
}
.highlight-rev {
    background: linear-gradient(to right, $blue10 50%, $blue40 50%);
    background-size: 200%;
    background-position: 0 0;
    display: inline;
    transition: .3s ease-in-out;
    z-index: -1;
}
.highlight:hover, .highlight-rev:hover {
    background-position: -100% 0;
}

#exp {
    width: 100%;
    height: auto;
    color: $blue10;
    margin-bottom: 4rem;

    h2 {
        margin-bottom: 2rem;
    }

    a {
        text-decoration: underline;
        color: $blue10;
    }
}

#climb {
    width: 100%;
    height: auto;
    color: $blue10;
    margin-bottom: 4rem;

    h2 {
        margin-bottom: 2rem;
    }
}

#about_section4 {
    width: 100%;
    height: auto;
    color: $blue10;
    margin-bottom: 4rem;
}