.casestudy {
    color: $blue10;

    img {
        width: 100%;
        height: auto;
        margin-bottom: 3rem;

        &.lastimg {
            margin-bottom: 0rem;
        }
    }
    video {
        width: 100%;
        height: auto;
    }

    // section 1
    &-title {
        position: relative;
        width: 100%;
        height: auto;

        .casestudy-subtitle {
            margin-top: 1rem;
            margin-bottom: 2rem;
            color: $blue75;
        }
        a.smallsubs {
            text-decoration: none;
            color: $blue85;
            font-size: $p;
        }
    }

    // section 2
    &-hero {
        position: relative;
        width: 100%;
        height: auto;
        img {
            width: 100%;
        }
    }

    //section 3
    &-intro {
        position: relative;
        width: 100%;
        height: auto;
    }
    &-headline {
        text-transform: uppercase;
        margin-bottom: 1rem;
        &-big {
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
    }
    &-content {
        margin-bottom: 2rem;
    }

    //section 4
    &-problem {
        position: relative;
        width: 100%;
        height: auto;
        color: $white;
    }

    //section 5
    &-research {
        position: relative;
        width: 100%;
        height: auto;
        color: $blue10;
    }

    //section 6
    &-design {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 2rem;
        color: $blue10;
        video {
            max-width: 300px;
        }
        .videobox {
            text-align: center;
        }
    }
    // section 6.1
    &-prev {
        margin-bottom: 4rem;
    }
    &-lofi {
        margin-bottom: 4rem;
        .col1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    // section 6.2
    &-color {
        margin-bottom: 4rem;
        .col2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    // section 6.3
    &-mainscreen {
        margin-bottom: 4rem;
        .col1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .col2 {
            text-align: center;
        }
        video {
            max-width: 300px;
        }
    }
    // section 6.4
    &-invitescreen {
        margin-bottom: 4rem;
        .col1 {
            text-align: center;
        }
        .col2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        video {
            max-width: 300px;
        }
    }
    // section 6.5
    &-settingsscreen {
        margin-bottom: 4rem;
        .col1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .col2 {
            text-align: center;
        }
        video {
            max-width: 300px;
        }
    }
    // section 6.6
    &-schedulescreen {
        .col1 {
            text-align: center;
        }
        .col2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        video {
            max-width: 300px;
        }
    }

    //section 7
    &-conclusion {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 2rem;
        color: $blue10;
    }
}