// globals

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-width: 0;
    min-height: 0;
}

html {
    scroll-behavior: smooth;
}

main {
    min-width: 0;
}

h1 {
    font-family: $inter;
    font-size: $h1;
    font-weight: $regular;
}

h2 {
    font-family: $inter;
    font-size: $h2;
    font-weight: $regular;
}

h3 {
    font-family: $inter;
    font-size: $h3;
    font-weight: $regular;
}

h4 {
    font-family: $inter;
    font-size: $h4;
    font-weight: $regular;
}

h5 {
    font-family: $inter;
    font-size: $sub;
    font-weight: $regular;
}

p {
    font-family: $inter;
    font-size: $p;
    font-weight: $regular;
    line-height: 150%;
}

// mobile sizes
@media only screen and (max-width: 43em) {
    h1 {
        font-size: $h2;
    }
    h2 {
        font-size: $h3;
    }
    h3 {
        font-size: $h4;
    }
    h4 {
        font-size: $p;
    }
    h5 {
        font-size: 12px;
    }
    p {
        font-size: $sub;
    }
}

a {
    width: max-content;
    text-decoration: none;
    color: $blue10;
}

div {
    word-wrap: break-word;
}