.hero {
    width: 100%;
    height: 88vh;
    max-height: 90vh;
    padding: 0 5rem 5rem;
    display: flex;
    align-items: flex-end;
}

.hero_text {
    width: 45vw;
}

.hero_subtext {
    width: 32vw;
}

.hero_img {
    text-align: center;
    img {
        width: 80%;
        height: auto;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        pointer-events: none;
    }
    @media screen and (min-width: 1600px) {
        width: 80%;
        height: auto;
    }
}

// cursor
.typewriter > .typewriter_text {
    border-right: 0.2rem solid $black;
}