.hero {
    width: 100%;
    height: 90vh;
    max-height: 90vh;
    padding: 0 5rem 5rem;
    display: flex;
    align-items: flex-end;
    z-index: 2;
    background-color: $white;
}

.hero_text {
    width: 45vw;
    color: $black;
}

.hero_subtext {
    width: 32vw;
    color: $ltblack;
}

.hero_img {
    text-align: center;
    img {
        width: 80%;
        height: auto;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        pointer-events: none;
    }
    @media screen and (min-width: 1600px) {
        width: 80%;
        height: auto;
    }
}

// cursor
.typewriter > .typewriter_text {
    border-right: 0.2rem solid $black;
}

.scrollDown {
    position: absolute;
    font-size: 2rem;
    color: $silverblue;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    animation: chevronFade 2s ease-in-out infinite;
    a, a:visited {
        text-decoration: none;
        color: $silverblue;
    }
}

@keyframes chevronFade {
    0% {
        opacity: 0;
        bottom: 50px;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        bottom: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .scrollDown {
        display: none;
    }
    .hero {
        display: block;
    }
    .hero_text, .hero_subtext {
        width: 100%;
    }
    .hero_img {
        margin-top: 2rem;
        img {
            max-width: 60%;
        }
    }
}

@media screen and (max-width: 879px) {
    .hero_img {
        img {
            max-width: 65%;
        }
    }
}

// current works
.current {
    background-color: $black;
    color: $white;
    width: 100%;
    height: 70vh;
    padding: 0 2rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5vw;
}

.current_pic {
    flex: 2;
    text-align: right;
}

.current_pic > img {
    width: auto;
    height: 50vh;
}

.current_info {
    flex: 3;
}

.current_info *:not(:last-child) {
    margin-bottom: 1.875rem;
}

.current_co {
    padding-bottom: 5rem;
}

@media screen and (max-width: 1023px) {
    .current {
        background-image: url(/images/casestudy_spark.png);
        background: linear-gradient(rgba(42, 42, 42, 0.75), rgba(42, 42, 42, 0.75));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: auto;
        padding: 5% 8%;
    }
    .current_pic {
        display: none;
    }
    .current_info {
        background-color: rgba(42, 42, 42, 0.75);
    }
    .current_info * {
        margin-bottom: 1.875rem;
    }
}

// case studies
.casestudy {
    background-color: $white;
    width: 100%;
    height: 100vh;
    position: relative;
}

#study1 {
    background-image: url(/images/casestudy_bucsa.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    pointer-events: none;
    z-index: 2;
}

#study2 {
    background-image: url(/images/casestudy_bumpcall.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    pointer-events: none;
    z-index: 2;
}

#study3 {
    background-image: url(/images/casestudy_wasteless.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    pointer-events: none;
    z-index: 2;
}

#study4 {
    background-image: url(/images/casestudy_productvision.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    pointer-events: none;
    z-index: 2;
}

#study5 {
    background-color: #FFC100;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    pointer-events: none;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.casestudy_info {
    pointer-events: all;
    position: absolute;
    width: 40vw;
    height: 100%;
    padding: 5% 8%;
}

#study1_card {
    background-color: #1A1A1A;
    color: $white;
}

#study2_card {
    background-color: #FF6B00;
    color: $white;
}

#study3_card {
    background-color: rgba(135, 209, 241, 0.9);
    color: $white;
}

#study4_card {
    background-color: #2F4790;
    color: $white;
}

#study5_card {
    background-color: #FFA09E;
    color: $white;
}

.casestudy_info_card_padding {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.casestudy_info_card *:not(:last-child) {
    margin-bottom: 1.875rem;
}

.casestudy_btn {
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 10px;
    padding: 1rem 1.75rem;
    text-align: center;
    display: inline-block;
    color: $white;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.casestudy_btn:hover, .casestudy_btn:focus {
    background-color: $white;
    color: $black;
    box-shadow: 0px 10px 15px rgba(100, 100, 100, 0.25);
    h5 {
        font-weight: $bold;
    }
}

.casestudy_unwrap_pic {
    position: absolute;
    display: block;
    img {
        width: 36rem;
        height: auto;
    }
}
.unwrap_phone1 {
    top: 2%;
    left: 56%;
}

.unwrap_phone2 {
    top: 4%;
    left: 27%;
}

.unwrap_phone3 {
    top: 50%;
    left: 57%;
}

@media screen and (min-width: 1600px) {
    .casestudy_unwrap_pic > img {
        width: 50rem;
    }
}

@media screen and (max-width: 1023px) {
    .casestudy_info {
        width: 100%;
    }
    #study1_card {
        background-color: rgba(26, 26, 26, 0.85);
    }
    #study2_card {
        background-color: rgba(255, 107, 0, 0.8);
    }
    #study3_card {
        background-color: rgba(135, 209, 241, 0.9);
    }
    #study4_card {
        background-color: rgba(47, 71, 144, 0.8);
    }
    #study5 {
        background-image: url(/images/casestudy_unwrap.png);
        z-index: 2;
        .casestudy_unwrap_pic, .unwrap_phone1, .unwrap_phone2, .unwrap_phone3 {
            display: none;
        }
    }
    #study5_card {
        background-color: rgba(255, 160, 158, 0.8);
    }
}

// @media screen and (max-width: 767px) {
//     #study1, #study2 {
//         background-attachment: scroll;
//     }
// }