.hero_index {
    padding-top: 15vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0rem;

    &_links {
        width: 100%;
        position: relative;
        flex-grow: 1;
        display: flex;
        align-items: center;
        
        &#climber_hero {
            &::before {
                transition: all 0.85s cubic-bezier(0.215, 0.610, 0.355, 1);
                content: '';
                width: 0%;
                height: 100%;
                background-color: $blue85;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            &:hover {
                &::before {
                    background-color: $blue85;
                    width: 100%;
                }
            }
        }
        
        &#designer_hero {
            &::before {
                transition: all 0.85s cubic-bezier(0.215, 0.610, 0.355, 1);
                content: '';
                width: 0%;
                height: 100%;
                background-color: $blue75;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            &:hover {
                &::before {
                    background-color: $blue75;
                    width: 100%;
                }
            }
        }
        &#me_hero {
            &::before {
                transition: all 0.85s cubic-bezier(0.215, 0.610, 0.355, 1);
                content: '';
                width: 0%;
                height: 100%;
                background-color: $blue55;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            &:hover {
                &::before {
                    background-color: $blue55;
                    width: 100%;
                }
            }
        }
        &#researcher_hero {
            &::before {
                transition: all 0.85s cubic-bezier(0.215, 0.610, 0.355, 1);
                content: '';
                width: 0%;
                height: 100%;
                background-color: $blue40;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            a {
                color: $blue10;
                transition: all 0.85s cubic-bezier(0.215, 0.610, 0.355, 1);
            }
            &:hover {
                &::before {
                    background-color: $blue40;
                    width: 100%;
                }
                a {
                    color: $white;
                }
            }
        }
        &#storyteller_hero {
            &::before {
                transition: all 0.85s cubic-bezier(0.215, 0.610, 0.355, 1);
                content: '';
                width: 0%;
                height: 100%;
                background-color: $blue25;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            a {
                color: $blue10;
                transition: all 0.85s cubic-bezier(0.215, 0.610, 0.355, 1);
            }
            &:hover {
                &::before {
                    background-color: $blue25;
                    width: 100%;
                }
                a {
                    color: $white;
                }
            }
        }
    }
    &_links_padding {
        padding-left: 20%;
    }
}

.fullpage {
    width: 100%;
    height: 100vh;
    padding: 0% 20%;
    
    &.fpwhite {
        background-color: $white;
    }
    
    .climbergrid {
        padding-top: 15vh;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 5rem;
        grid-template-rows: 1fr;
        align-items: center;
        >.leftimg {
            position: relative;
            width: 20rem;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
        >.rightcontent {
            color: $blue10;
            text-align: right;
        }
    }

}

.page90 {
    width: 100%;
    height: 90vh;
    padding: 0% 20%;

    &.fpwhite {
        background-color: $white;
    }
    
    .invitetextwrapper {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $blue10;
    
        > a {
            position: relative;
            margin-top: 2rem;
        }
        > a::before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $blue10;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
        > a:hover::before {
            visibility: visible;
            width: 100%;
        }
    }
}

.textbottommargin {
    margin-bottom: 1.75rem;
}

button.learnmorebtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid $blue10;
    padding: 1.5rem 2rem;
    cursor: pointer;
    
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    
    transition: all 300ms ease-out;
    
    &:hover, &:active {
        color: $white;
        box-shadow: inset 15rem 0 0 0 $blue10
    }
}

.autopage {
    width: 100%;
    height: auto;
    padding: 15vh 20%;

    &.dark {
        background-color: $blue10;
        a {
            color: $white;
        }
    }
    &.light {
        background-color: $white;
    }
    &.lightb {
        background-color: $blue95;
    }
    .largetextwrapper {
        width: 100%;
        height: 100%;
        margin: 40vh 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white;
        > a > p {
            color: $white;
        }
        > a {
            position: relative;
            margin-top: 2rem;
        }
        > a::before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $white;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
        > a:hover::before {
            visibility: visible;
            width: 100%;
        }
    }
}

.twocolrowgrid {
    display: grid;
    grid-template-columns: [left-start] auto [left-end right-start] auto[right-end];
    column-gap: 20%;
    grid-template-rows: [top-start] auto [top-end bottom-start] auto [bottom-end space-start] 1fr [space-end];
    row-gap: 10rem;
}

// mobile sizes
@media only screen and (max-width: 43em) {
    .twocolrowgrid {
        display: block;
        .work1, .work2, .work3 {
            margin-bottom: 2rem;
        }
    }
}
@media only screen and (max-width: 80em) {
    .fullpage {
        .climbergrid {
            display: block;
            >.leftimg {
                max-width: 15rem;
            }
            >.rightcontent {
                margin-top: 2rem;
                color: $blue10;
                text-align: left;
            }
        }
    }
}

.selectedwork {
    display: flex;
    flex-direction: column;

    &.work1 {
        grid-column-start: left-start;
        grid-column-end: left-end;
        grid-row-start: top-start;
        grid-row-end: top-end;
    }
    &.work2 {
        grid-column-start: right-start;
        grid-column-end: right-end;
        grid-row-start: top-start;
        grid-row-end: top-end;
    }
    &.work3 {
        grid-column-start: left-start;
        grid-column-end: left-end;
        grid-row-start: bottom-start;
        grid-row-end: bottom-end;
    }
    &.work4 {
        grid-column-start: right-start;
        grid-column-end: right-end;
        grid-row-start: bottom-start;
        grid-row-end: bottom-end;
    }

    &_videowrapper {
        max-width: 100%;
        transform: scale(100%);
        transition: transform 400ms ease;
        video {
            max-width: 100%;
        }
    }
    &_videowrapper:hover, &_videowrapper:focus {
        transform: scale(105%);
    }
    &_title {
        padding: 0 1rem;
        margin-top: 1rem;
    }
    &_caption {
        padding: 0 1rem;
        margin-top: 1rem;
    }
}