nav {
    min-height: 80px;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $white;
    gap: 40rem;
    padding: 0 5%;
}

nav li {
    list-style: none;
    font-family: $roboto;
    font-size: $p;
    font-weight: $regular;
}

nav li a, nav li a:visited {
    text-decoration: none;
    color: $gray;
}

nav .logo a, nav .logo a:visited {
    text-decoration: none;
    color: $black;
}

.menu li a {
    transition: all 200ms ease-in;
}

.menu li a:hover, .menu li a:active {
    color: $blue;
}

.item.active {
    font-weight: $bold;
    a {
        color: $black;
    }
}

.logo {
    font-family: $spacemono;
    font-size: 2.25rem; //36px
    font-weight: $bold;
    width: 40%;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 40px;
    height: 4px;
    background-color: $black;
    margin: 5px;
    transition: all 0.5s ease;
}

// mobile and tablet nav
@media screen and (max-width: 1023px) {
    nav {
        gap: 0;
    }
    .logo {
        width: 100%;
    }
    .menu {
        position: absolute;
        width: 100%;
        height: 90vh;
        top: 10vh;
        background-color: $black;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 5;
    }
    .menu li {
        opacity: 0;
    }
    .menu li a {
        color: $white;
        font-weight: $bold;
        text-decoration: none;
        transition: all 300ms ease-in;
    }
    .menu li a:hover, .menu li a:focus {
        color: $white;
        text-decoration: underline;
    }
    .hamburger {
        display: block;
    }
    .item.active a {
        color: $white;
    }
}

.nav-active {
    transform: translateX(0%);
    z-index: 5;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .hamburgerline1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .hamburgerline2 {
    opacity: 0;
}

.toggle .hamburgerline3 {
    transform: rotate(45deg) translate(-6px,-7px);
}