// design system for new avoportfolio


// fonts

$inter: 'Inter', sans-serif;


// font sizes

$h1: 5rem; //80px - page titles
$h2: 2.5rem; //48px - section headers
$h3: 1.5rem; //24px - subtitles of page titles, list items
$h4: 1.25rem; //20px - casestudy subsection headers
$sub: .875rem; //14px - small print
$p: 1.125rem; //16px - paragraph text


// font weight

$blackbold: 900;
$bold: 700;
$regular: 400;


// colors

$white: #FFF;     // main background
$blue95: #EDF1F8; // conclusion color
$blue85: #C8D5EA; // highlight color
$blue75: #91ACD4; 
$blue55: #5A82BF;
$blue40: #395D93; // highlight-rev color
$blue25: #243A5C;
$blue10: #0E1725; // paragraph text, breaking background pace, box buttons