// Fonts

$spacemono: 'Space Mono', monospace;
$roboto: 'Roboto', sans-serif;


// Font Sizes

$h1: 3.5rem; //56px big text for landing
$h2: 3rem; //48px headers for sections
$h3: 2.25rem; //36px
$h4: 1.5rem; //24px
$h5: 0.875rem; //14px subtitles
$p: 1.125rem; //18px text


// Font Weight

$bold: 700;
$regular: 400;


// Colors

$white: #FFF;
$black: #2A2A2A;
$blue: #3D75B7;
$gray: #93A3B7;
$silverblue: #DAE5F1;

$highlightGreen: #0ACF83;
$highlightBlue: #1ABCFE;
$highlightPurple: #A259FF;
$highlightYellow: #FCCC63;
$highlightRed: #FF7262;