// Fonts

$spacemono: 'Space Mono', monospace;
$roboto: 'Roboto', sans-serif;


// Font Sizes

$h1: 4.5rem; //72px big text for landing
$h2: 3rem; //48px headers for sections
$h3: 0.875rem; //14px subtitles
$p: 1.125rem; //18px text


// Font Weight

$bold: 700;
$regular: 400;


// Colors

$white: #FFF;
$black: #2A2A2A;
$blue: #3D75B7;