.wip_container {
    width: 100%;
    height: 90vh;
    max-height: 90vh;
    padding: 0 5rem 5rem;
    display: flex;
    justify-content: center;
    background-color: $white;
    color: $black;
    flex-direction: column;
}

.wip_h4 {
    color: $ltblack;
    margin-top: 2rem;
    span {
        color: $white;
    }
}