.hero_index {
  padding-top: 15vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0rem;
}

.hero_index_links {
  width: 100%;
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.hero_index_links#climber_hero::before {
  transition: all 0.85s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
  width: 0%;
  height: 100%;
  background-color: #C8D5EA;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero_index_links#climber_hero:hover::before {
  background-color: #C8D5EA;
  width: 100%;
}

.hero_index_links#designer_hero::before {
  transition: all 0.85s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
  width: 0%;
  height: 100%;
  background-color: #91ACD4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero_index_links#designer_hero:hover::before {
  background-color: #91ACD4;
  width: 100%;
}

.hero_index_links#me_hero::before {
  transition: all 0.85s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
  width: 0%;
  height: 100%;
  background-color: #5A82BF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero_index_links#me_hero:hover::before {
  background-color: #5A82BF;
  width: 100%;
}

.hero_index_links#researcher_hero::before {
  transition: all 0.85s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
  width: 0%;
  height: 100%;
  background-color: #395D93;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero_index_links#researcher_hero a {
  color: #0E1725;
  transition: all 0.85s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hero_index_links#researcher_hero:hover::before {
  background-color: #395D93;
  width: 100%;
}

.hero_index_links#researcher_hero:hover a {
  color: #FFF;
}

.hero_index_links#storyteller_hero::before {
  transition: all 0.85s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
  width: 0%;
  height: 100%;
  background-color: #243A5C;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero_index_links#storyteller_hero a {
  color: #0E1725;
  transition: all 0.85s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hero_index_links#storyteller_hero:hover::before {
  background-color: #243A5C;
  width: 100%;
}

.hero_index_links#storyteller_hero:hover a {
  color: #FFF;
}

.hero_index_links_padding {
  padding-left: 20%;
}

.fullpage {
  width: 100%;
  height: 100vh;
  padding: 0% 20%;
}

.fullpage.fpwhite {
  background-color: #FFF;
}

.fullpage .climbergrid {
  padding-top: 15vh;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5rem;
  grid-template-rows: 1fr;
  align-items: center;
}

.fullpage .climbergrid > .leftimg {
  position: relative;
  width: 20rem;
  height: auto;
}

.fullpage .climbergrid > .leftimg img {
  width: 100%;
  height: auto;
}

.fullpage .climbergrid > .rightcontent {
  color: #0E1725;
  text-align: right;
}

.page90 {
  width: 100%;
  height: 90vh;
  padding: 0% 20%;
}

.page90.fpwhite {
  background-color: #FFF;
}

.page90 .invitetextwrapper {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0E1725;
}

.page90 .invitetextwrapper > a {
  position: relative;
  margin-top: 2rem;
}

.page90 .invitetextwrapper > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0E1725;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.page90 .invitetextwrapper > a:hover::before {
  visibility: visible;
  width: 100%;
}

.textbottommargin {
  margin-bottom: 1.75rem;
}

button.learnmorebtn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid #0E1725;
  padding: 1.5rem 2rem;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  transition: all 300ms ease-out;
}

button.learnmorebtn:hover, button.learnmorebtn:active {
  color: #FFF;
  box-shadow: inset 15rem 0 0 0 #0E1725;
}

.autopage {
  width: 100%;
  height: auto;
  padding: 15vh 20%;
}

.autopage.dark {
  background-color: #0E1725;
}

.autopage.dark a {
  color: #FFF;
}

.autopage.light {
  background-color: #FFF;
}

.autopage.lightb {
  background-color: #EDF1F8;
}

.autopage .largetextwrapper {
  width: 100%;
  height: 100%;
  margin: 40vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
}

.autopage .largetextwrapper > a > p {
  color: #FFF;
}

.autopage .largetextwrapper > a {
  position: relative;
  margin-top: 2rem;
}

.autopage .largetextwrapper > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.autopage .largetextwrapper > a:hover::before {
  visibility: visible;
  width: 100%;
}

.twocolrowgrid {
  display: grid;
  grid-template-columns: [left-start] auto [left-end right-start] auto [right-end];
  column-gap: 20%;
  grid-template-rows: [top-start] auto [top-end bottom-start] auto [bottom-end space-start] 1fr [space-end];
  row-gap: 10rem;
}

@media only screen and (max-width: 43em) {
  .twocolrowgrid {
    display: block;
  }
  .twocolrowgrid .work1, .twocolrowgrid .work2, .twocolrowgrid .work3 {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 80em) {
  .fullpage .climbergrid {
    display: block;
  }
  .fullpage .climbergrid > .leftimg {
    max-width: 15rem;
  }
  .fullpage .climbergrid > .rightcontent {
    margin-top: 2rem;
    color: #0E1725;
    text-align: left;
  }
}

.selectedwork {
  display: flex;
  flex-direction: column;
}

.selectedwork.work1 {
  grid-column-start: left-start;
  grid-column-end: left-end;
  grid-row-start: top-start;
  grid-row-end: top-end;
}

.selectedwork.work2 {
  grid-column-start: right-start;
  grid-column-end: right-end;
  grid-row-start: top-start;
  grid-row-end: top-end;
}

.selectedwork.work3 {
  grid-column-start: left-start;
  grid-column-end: left-end;
  grid-row-start: bottom-start;
  grid-row-end: bottom-end;
}

.selectedwork.work4 {
  grid-column-start: right-start;
  grid-column-end: right-end;
  grid-row-start: bottom-start;
  grid-row-end: bottom-end;
}

.selectedwork_videowrapper {
  max-width: 100%;
  transform: scale(100%);
  transition: transform 400ms ease;
}

.selectedwork_videowrapper video {
  max-width: 100%;
}

.selectedwork_videowrapper:hover, .selectedwork_videowrapper:focus {
  transform: scale(105%);
}

.selectedwork_title {
  padding: 0 1rem;
  margin-top: 1rem;
}

.selectedwork_caption {
  padding: 0 1rem;
  margin-top: 1rem;
}

#me {
  width: 100%;
  height: auto;
  color: #0E1725;
  margin-bottom: 4rem;
}

#me h1 {
  margin-bottom: 2rem;
}

#me img {
  width: 100%;
  height: auto;
}

#me a {
  text-decoration: underline;
  color: #0E1725;
}

.about_name {
  position: relative;
  width: 100%;
  height: auto;
}

.about_content {
  position: relative;
  width: 100%;
  height: auto;
}

.twocolgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}

.twocolgrid img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 43em) {
  .twocolgrid {
    grid-template-columns: 1fr;
  }
  .twocolgrid .col2 {
    margin-top: 2rem;
  }
  .twocolgrid .col2 .about_name {
    margin-top: 2rem;
  }
}

.highlight {
  background: linear-gradient(to right, white 50%, #C8D5EA 50%);
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: .3s ease-in-out;
  z-index: -1;
}

.highlight-rev {
  background: linear-gradient(to right, #0E1725 50%, #395D93 50%);
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: .3s ease-in-out;
  z-index: -1;
}

.highlight:hover, .highlight-rev:hover {
  background-position: -100% 0;
}

#exp {
  width: 100%;
  height: auto;
  color: #0E1725;
  margin-bottom: 4rem;
}

#exp h2 {
  margin-bottom: 2rem;
}

#exp a {
  text-decoration: underline;
  color: #0E1725;
}

#climb {
  width: 100%;
  height: auto;
  color: #0E1725;
  margin-bottom: 4rem;
}

#climb h2 {
  margin-bottom: 2rem;
}

#about_section4 {
  width: 100%;
  height: auto;
  color: #0E1725;
  margin-bottom: 4rem;
}

.casestudy {
  color: #0E1725;
}

.casestudy img {
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
}

.casestudy img.lastimg {
  margin-bottom: 0rem;
}

.casestudy video {
  width: 100%;
  height: auto;
}

.casestudy-title {
  position: relative;
  width: 100%;
  height: auto;
}

.casestudy-title .casestudy-subtitle {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #91ACD4;
}

.casestudy-title a.smallsubs {
  text-decoration: none;
  color: #C8D5EA;
  font-size: 1.125rem;
}

.casestudy-hero {
  position: relative;
  width: 100%;
  height: auto;
}

.casestudy-hero img {
  width: 100%;
}

.casestudy-intro {
  position: relative;
  width: 100%;
  height: auto;
}

.casestudy-headline {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.casestudy-headline-big {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.casestudy-content {
  margin-bottom: 2rem;
}

.casestudy-problem {
  position: relative;
  width: 100%;
  height: auto;
  color: #FFF;
}

.casestudy-research {
  position: relative;
  width: 100%;
  height: auto;
  color: #0E1725;
}

.casestudy-design {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  color: #0E1725;
}

.casestudy-design video {
  max-width: 300px;
}

.casestudy-design .videobox {
  text-align: center;
}

.casestudy-prev {
  margin-bottom: 4rem;
}

.casestudy-lofi {
  margin-bottom: 4rem;
}

.casestudy-lofi .col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.casestudy-color {
  margin-bottom: 4rem;
}

.casestudy-color .col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.casestudy-mainscreen {
  margin-bottom: 4rem;
}

.casestudy-mainscreen .col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.casestudy-mainscreen .col2 {
  text-align: center;
}

.casestudy-mainscreen video {
  max-width: 300px;
}

.casestudy-invitescreen {
  margin-bottom: 4rem;
}

.casestudy-invitescreen .col1 {
  text-align: center;
}

.casestudy-invitescreen .col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.casestudy-invitescreen video {
  max-width: 300px;
}

.casestudy-settingsscreen {
  margin-bottom: 4rem;
}

.casestudy-settingsscreen .col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.casestudy-settingsscreen .col2 {
  text-align: center;
}

.casestudy-settingsscreen video {
  max-width: 300px;
}

.casestudy-schedulescreen .col1 {
  text-align: center;
}

.casestudy-schedulescreen .col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.casestudy-schedulescreen video {
  max-width: 300px;
}

.casestudy-conclusion {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  color: #0E1725;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  min-width: 0;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  font-weight: 400;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

h5 {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
}

@media only screen and (max-width: 43em) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  h5 {
    font-size: 12px;
  }
  p {
    font-size: 0.875rem;
  }
}

a {
  width: max-content;
  text-decoration: none;
  color: #0E1725;
}

div {
  word-wrap: break-word;
}

nav {
  position: fixed;
  padding: 1.5rem 8%;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 998;
  transition: all 300ms ease;
}

nav:hover {
  background-color: white;
}

.logo > a > img {
  width: 5rem;
  height: auto;
}

.menu {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 999;
}

.menu .menu_box {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}

.menu div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}

.menu span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2.5px;
  background-color: var(--bar-bg, #0E1725);
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menu span:first-of-type {
  top: 0;
}

.menu span:last-of-type {
  bottom: 0;
}

.menu.active span, .menu .menu_box:checked + div span {
  background-color: var(--bar-bg, #FFF);
}

.menu.active span:first-of-type, .menu .menu_box:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}

.menu.active span:last-of-type, .menu .menu_box:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}

.menu.active:hover span:first-of-type,
.menu.active:hover span:last-of-type,
.menu:hover .menu_box:checked + div span:first-of-type,
.menu:hover .menu_box:checked + div span:last-of-type {
  width: 22px;
}

@media (min-width: 1024px) {
  .menu:hover span:first-of-type {
    width: 26px;
  }
  .menu:hover span:last-of-type {
    width: 12px;
  }
}

.options {
  position: absolute;
  z-index: 998;
  width: 350px;
  height: 350px;
  background-color: #395D93;
  color: #FFF;
  box-shadow: 0px 10px 25px 5px rgba(36, 58, 92, 0.25);
  top: 1rem;
  right: 6%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out;
}

.options_list_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.options ul {
  list-style-type: none;
}

.options ul.options_list {
  margin: 10% 10%;
}

.options ul li {
  margin-bottom: 2rem;
}

.options .options_list_contact {
  margin: 0 10%;
}

.options .options_list_contact > h4 {
  margin-bottom: 0.5rem;
}

.options a > h3 {
  color: #FFF;
}

.options a {
  position: relative;
}

.options a::before {
  content: "";
  position: absolute;
  z-index: 999;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.options a:hover::before {
  visibility: visible;
  width: 100%;
}

.options.active {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 43em) {
  nav {
    padding: 1.5rem 6%;
  }
  .logo > a > img {
    width: 3rem;
  }
}

footer .bottomfooter {
  position: relative;
  width: 100%;
  height: 10vh;
  padding: 0% 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 990;
}

footer .bottomfooter .socialicons {
  display: flex;
}

footer .bottomfooter .socialicons .social_link {
  color: #0E1725;
  font-size: 1.5rem;
  transition: all 300ms cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

footer .bottomfooter .socialicons .social_link:hover, footer .bottomfooter .socialicons .social_link:focus {
  color: #395D93;
  transform: scale(110%);
  text-shadow: 0px 20px 25px rgba(36, 58, 92, 0.25);
}

footer .bottomfooter .socialicons .social_link:not(:last-child):after {
  content: '';
  margin-right: 1rem;
}

@media only screen and (max-width: 43em) {
  footer .bottomfooter {
    flex-direction: column;
  }
  footer .bottomfooter .socialicons {
    padding-bottom: 5%;
  }
}
/*# sourceMappingURL=main.css.map */