.hero {
  width: 100%;
  height: 90vh;
  max-height: 90vh;
  padding: 0 5rem 5rem;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}

.hero_text {
  width: 45vw;
}

.hero_subtext {
  width: 32vw;
}

.hero_img {
  text-align: center;
}

.hero_img img {
  width: 80%;
  height: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  pointer-events: none;
}

@media screen and (min-width: 1600px) {
  .hero_img {
    width: 80%;
    height: auto;
  }
}

.typewriter > .typewriter_text {
  border-right: 0.2rem solid #2A2A2A;
}

.scrollDown {
  position: absolute;
  font-size: 2rem;
  color: #DAE5F1;
  bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  animation: chevronFade 2s ease-in-out infinite;
}

.scrollDown a, .scrollDown a:visited {
  text-decoration: none;
  color: #DAE5F1;
}

@keyframes chevronFade {
  0% {
    opacity: 0;
    bottom: 50px;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .scrollDown {
    display: none;
  }
  .hero {
    display: block;
  }
  .hero_text, .hero_subtext {
    width: 100%;
  }
  .hero_img {
    margin-top: 2rem;
  }
  .hero_img img {
    max-width: 60%;
  }
}

@media screen and (max-width: 879px) {
  .hero_img img {
    max-width: 65%;
  }
}

.casestudy {
  background-color: #FFF;
  width: 100%;
  height: 100vh;
  position: relative;
}

#study1 {
  background-image: url(/images/casestudy_bucsa.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  pointer-events: none;
  z-index: 2;
}

#study2 {
  background-image: url(/images/casestudy_bumpcall.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  pointer-events: none;
  z-index: 2;
}

#study3 {
  background-image: url(/images/casestudy_wasteless.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  pointer-events: none;
  z-index: 2;
}

#study4 {
  background-image: url(/images/casestudy_productvision.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  pointer-events: none;
  z-index: 2;
}

#study5 {
  background-color: #FFC100;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  pointer-events: none;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}

.casestudy_info {
  pointer-events: all;
  position: absolute;
  width: 40vw;
  height: 100%;
  padding: 5% 8%;
}

#study1_card {
  background-color: #1A1A1A;
  color: #FFF;
}

#study2_card {
  background-color: #FF6B00;
  color: #FFF;
}

#study3_card {
  background-color: rgba(135, 209, 241, 0.9);
  color: #FFF;
}

#study4_card {
  background-color: #2F4790;
  color: #FFF;
}

#study5_card {
  background-color: #FFA09E;
  color: #FFF;
}

.casestudy_info_card_padding {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.casestudy_info_card *:not(:last-child) {
  margin-bottom: 1.875rem;
}

.casestudy_btn {
  background-color: transparent;
  border: 2px solid #FFF;
  border-radius: 10px;
  padding: 1rem 1.75rem;
  text-align: center;
  display: inline-block;
  color: #FFF;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.casestudy_btn:hover, .casestudy_btn:focus {
  background-color: #FFF;
  color: #2A2A2A;
  box-shadow: 0px 10px 15px rgba(100, 100, 100, 0.25);
}

.casestudy_btn:hover h5, .casestudy_btn:focus h5 {
  font-weight: 700;
}

.casestudy_unwrap_pic {
  position: absolute;
  display: block;
}

.casestudy_unwrap_pic img {
  width: 36rem;
  height: auto;
}

.unwrap_phone1 {
  top: 2%;
  left: 56%;
}

.unwrap_phone2 {
  top: 4%;
  left: 27%;
}

.unwrap_phone3 {
  top: 50%;
  left: 57%;
}

@media screen and (min-width: 1600px) {
  .casestudy_unwrap_pic > img {
    width: 50rem;
  }
}

@media screen and (max-width: 1023px) {
  .casestudy_info {
    width: 100%;
  }
  #study1_card {
    background-color: rgba(26, 26, 26, 0.85);
  }
  #study2_card {
    background-color: rgba(255, 107, 0, 0.8);
  }
  #study3_card {
    background-color: rgba(135, 209, 241, 0.9);
  }
  #study4_card {
    background-color: rgba(47, 71, 144, 0.8);
  }
  #study5 {
    background-image: url(/images/casestudy_unwrap.png);
    z-index: 2;
  }
  #study5 .casestudy_unwrap_pic, #study5 .unwrap_phone1, #study5 .unwrap_phone2, #study5 .unwrap_phone3 {
    display: none;
  }
  #study5_card {
    background-color: rgba(255, 160, 158, 0.8);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: "Space Mono", monospace;
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-family: "Space Mono", monospace;
  font-size: 2.5rem;
  font-weight: 700;
}

@media screen and (min-width: 1600px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

h5 {
  font-family: "Space Mono", monospace;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

nav {
  min-height: 80px;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
  gap: 40rem;
  padding: 0 5%;
}

nav li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

nav li a, nav li a:visited {
  text-decoration: none;
  color: #93A3B7;
}

nav .logo a, nav .logo a:visited {
  text-decoration: none;
  color: #2A2A2A;
}

.menu li a {
  transition: all 200ms ease-in;
}

.menu li a:hover, .menu li a:focus {
  color: #3D75B7;
}

.item.active {
  font-weight: 700;
}

.item.active a {
  color: #2A2A2A;
}

.logo {
  font-family: "Space Mono", monospace;
  font-size: 2.25rem;
  font-weight: 700;
  width: 40%;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 40px;
  height: 4px;
  background-color: #2A2A2A;
  margin: 5px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1023px) {
  nav {
    gap: 0;
  }
  .logo {
    width: 100%;
  }
  .menu {
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 10vh;
    background-color: #2A2A2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .menu li {
    opacity: 0;
  }
  .menu li a {
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    transition: all 300ms ease-in;
  }
  .menu li a:hover, .menu li a:focus {
    color: #FFF;
    text-decoration: underline;
  }
  .hamburger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .hamburgerline1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .hamburgerline2 {
  opacity: 0;
}

.toggle .hamburgerline3 {
  transform: rotate(45deg) translate(-6px, -7px);
}

footer {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: #2A2A2A;
  color: #FFF;
  padding: 3rem 5% 0;
}

footer .logo {
  width: auto;
  position: absolute;
  bottom: 1.5rem;
}

footer a, footer a:visited {
  text-decoration: none;
  color: #FFF;
  font-feature-settings: "calt" 0;
}

.copyright {
  text-align: center;
}

.copyright p {
  font-size: 0.875rem;
}

.copyright_text {
  font-family: "Space Mono", monospace;
  margin-top: 1.5rem;
}

.socials {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  gap: 2rem;
}

.social_link {
  transition: all 200ms ease;
}

.social_link:hover {
  transform: scale(1.25);
  text-shadow: 0px 10px 15px rgba(120, 120, 120, 0.35);
}

.social_link.mail:hover {
  color: #FF7262;
}

.social_link.github:hover {
  color: #FCCC63;
}

.social_link.linkedin:hover {
  color: #1ABCFE;
}

.social_link.insta:hover {
  color: #A259FF;
}

@media screen and (max-width: 1023px) {
  footer .logo {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */